* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
      Hiragino Kaku Gothic Pro, Meiryo, Arial, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol;
    text-align: center;
  }
  
  :root {
    --red: rgb(230, 0, 35);
    --blue: rgb(24, 119, 242);
    --lightgray: rgb(239, 239, 239);
    --gray: rgb(118, 118, 118);
    --darkgray: rgb(51, 51, 51);
  }
  
  a {
    text-decoration: none;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }


.todos-heading {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #E60023, #FF4B2B);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.create-heading {
  font-size: 28px;
  color: #E60023;
  margin-bottom: 10px;
}

.span-element {
  color: #E60023;
}

.input-text {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.button-element {
  width: 100%;
  max-width: 150px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #E60023;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button-element:hover {
  background-color: #cc0020;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  animation: fadeIn 0.3s ease-in-out;
}

.checkboxclass {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkbox-label {
  font-size: 18px;
  color: #333;
  flex-grow: 1;
  cursor: pointer;
  transition: color 0.2s ease;
}

.checkbox-label:hover {
  color: #E60023;
}

.checked {
  text-decoration: line-through;
  color: #888;
}

.delete-icon, .edit-icon {
  color: #d9534f;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  transition: color 0.2s;
}

.delete-icon:hover, .edit-icon:hover {
  color: #c9302c;
}

.icon-tooltip {
  position: relative;
}

.icon-tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  top: -30px;
  font-size: 12px;
  white-space: nowrap;
}
