@import 'sidebar.scss';

a {
  text-decoration: none !important;
}

p {
  font-size: 16px;
  color: #676767;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

h1 {
  color: #cc0000;
  font-size: 50px !important;
  font-weight: 600;
}

h2 {
  color: #cc0000;
}

h5,
h4,
h3 {
  color: #cc0000;
}

.allBtns {
  padding: 10px 25px;
  border: none;
  font-size: 14px;
  background-color: #cc0000;
  color: #ffffff;
  transition: 0.3s;
}

.allBtns:hover {
  opacity: 0.6
}

.confirmDeleteLogoutBtn {
  padding: 10px 25px;
  border: none;
  font-size: 14px;
  background-color: #ff0000;
  color: #ffffff;
  transition: 0.3s;
}

.confirmDeleteLogoutBtn:hover {
  opacity: 0.6
}

.hideAndShowBtns {
  padding: 4px 25px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.commmonSecSeperate {
  background-color: #efefef;
}

section {
  padding: 20px 0px;
  margin: 20px 0px;
}

.card {
  box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 25%);
  border-radius: 5px;
  padding: 15px 0px;

  .stripBg {
    background-color: #cc0000;

    h5 {
      color: #ffffff;
    }
  }

  u {
    color: #cc0000;
  }
}

.error {
  color: red;
}

.table-bordered thead tr th {
  background-color: #cc0000 !important;
  color: #ffffff;
}



.printBillSec {
  h6 {
    color: #cc0000;
  }

  table {
    --bs-table-bg: transparent !important;
  }
}


.loginSec {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 30%;
  }

}









/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  
  z-index: 1000;
}

.toggle-button {
  margin-right: 20px;
  padding: 6px;
  background-color: transparent;
  border: 1px solid #cc0000 !important;
  border-radius: 50px !important;
  cursor: pointer;
}

.header h1 {
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  margin-left: 0; /* Default margin when sidebar is hidden */
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}

.App.show-sidebar .main-content {
  margin-left: 270px; /* Main content margin with sidebar open */
}

.App.hide-sidebar .main-content {
  margin-left: 0; /* Main content uses full width when sidebar is collapsed */
}

.App.hide-header-and-sidebar .main-content {
  margin-left: 0; /* Main content uses full width when sidebar is hidden */
}

.sidebar {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: calc(100%);
  background-color: #ffffff;
  box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 25%);
  transition: left 0.3s ease-in-out;
  overflow-y: auto;

  .LinksCol {
    padding: 10px 10px;
    .Links {
      color: #697a8d;
      width: 100%;
      display: block;
      padding: 8px 10px;
      margin-top: 10px;
    }

    .active {
      color: #ffffff;
      font-weight: 600;
      background-color: #cc0000c9;
      border-radius: 5px;
    }

    .active:hover {
      background-color: #cc0000c9 !important;
      border-radius: 5px;
    }

    .Links:hover {
      background-color: #dce0e48c;
      border-radius: 5px;
    }
  }

  .accordion {
    .accordion-item {
      border: none !important;
    }

    button {
      color: #697a8d !important;
      padding: 10px;
    }

    button:hover {
      background-color: #dce0e48c;
      border-radius: 5px;
    }

    button:focus {
      box-shadow: none !important;
    }

    button:focus-visible {
      outline: none !important;
    }

    .accordion-button:not(.collapsed) {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    .accordion-button::after {
      background-size: 15px !important;
    }
  }
}

.sidebar.show {
  left: 0;
}

.sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cc0000;
}

 



ul[role="navigation"][aria-label="Pagination"] {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 1em 0;
}

ul[role="navigation"][aria-label="Pagination"] li {
  margin: 0 0.5em;
}

ul[role="navigation"][aria-label="Pagination"] li a {
  text-decoration: none;
  color: #cc0000;
  border: 1px solid #cc0000;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  transition: background-color 0.3s, color 0.3s;
}

ul[role="navigation"][aria-label="Pagination"] li a:hover:not([aria-disabled="true"]) {
  background-color: #cc0000 !important;
  color: #fff;
}

ul[role="navigation"][aria-label="Pagination"] li a[aria-disabled="true"] {
  color: #6c757d;
  border-color: #6c757d;
  cursor: not-allowed;
}

ul[role="navigation"][aria-label="Pagination"] li.selected a {
  background-color: #cc0000 !important;
  color: #fff;
  cursor: default;
}

ul[role="navigation"][aria-label="Pagination"] li.previous.disabled a,
ul[role="navigation"][aria-label="Pagination"] li.next.disabled a {
  color: #6c757d;
  border-color: #6c757d;
  cursor: not-allowed;
}

.active>.page-link, .page-link.active { 
  background-color: #cc0000 !important;
  color: #ffffff !important;
}

.page-link:focus {
  box-shadow: none !important;
}

.bottom-btn {
  position: fixed;
  bottom: 10%;
  left: 90%;
  z-index: 999;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn-rounded {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  color: white;
}